{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5" style="font-family: 'Playfair Display', serif;">Welcome to the Book Depository!</h1>
    <p>I made a book depository so that an average user can add, delete, and edit books to this database for various purposes such as to keep track of various author's books or to keep track of the book he or she has read. The Author table is a one to many relationship in which one author can have many books. .</p>
  </div>

{% endblock%}
